DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASS=
DB_NAME=tonalli
PORT=3001
WEB_APP_URL=http://localhost:5173

STRIPE_SECRET_KEY=sk_test_replace_me
STRIPE_WEBHOOK_SECRET=whsec_replace_me
STRIPE_PRO_PRICE_ID=price_replace_me_pro
STRIPE_MAX_PRICE_ID=price_replace_me_max
